[submodule "optee-client/optee_client"]
	path = optee-client/optee_client
	url = https://github.com/OP-TEE/optee_client.git
[submodule "optee-test/optee_test"]
	path = optee-test/optee_test
	url = https://github.com/OP-TEE/optee_test.git
