# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

# Create the directories used by qwes
on post-fs-data
    mkdir /data/vendor/qwes 0755 system system

service vendor.minkdaemon /vendor/bin/hlosminkdaemon
    class early_hal
    user system
    group system oem_2912 wakelock
    capabilities WAKE_ALARM BLOCK_SUSPEND
    socket ssgtzd stream 0660 system oem_2912
    socket hlos_mink_opener stream 0660 system oem_2912
